@media screen and (max-width: 1024px) {
	#homePage {
		section.food-menu {
			.food-menu-item {
				max-width: 260px;

				.food-menu-container {
					padding: 208px 0 53px !important;
				}
			}
		}
	}
}