@media screen and (max-width: 480px) {
	#wrapper-container {
		#garung-left-sidebar {
			display: none;
		}
		#garung-right-sidebar {
			display: none;
		}
		.content-pusher {
			padding-left: 5px;
			padding-right: 5px;
			.images_parallax { 
				background-size: auto;
			}
		}
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -ms-transition: all .5s;
        transition: all .5s;
	}
}