@media screen and (max-width: 480px) {
	#aboutusPage {
		.site-content {
			.site-main {
				.entry-content {
					.panel-grid {
						.panel-row-style {
							.panel-grid-cell {
								.so-panel {
									.thim-widget-list-html {
										.list-html-content {
											text-align: center !important;
											.line-center {
												display: none;
											}
											.item {
												.item-content {
													.title-list {
														text-align: center !important;
													}
													.desc-list {
														text-align: center !important;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}