@media screen and (max-width: 480px) {
	#homePage {
		section.welcome {
			flex-direction: column !important;

			.welcome-item {
				max-width: initial !important;
			}
		}

		section.food-menu {
			flex-direction: column !important;

			.food-menu-item {
				max-width: initial;
				margin-bottom: 20px;
			}
		}
		#sb_instagram {
            #sbi_images {
                .sbi_item {
                    width: 100% !important;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
	} 
}