@media screen and (max-width: 480px) {
	#menuPage {
		.after-heading-sidebar {
			.panel-grid {
				.panel-grid-cell {
					.so-panel {
						.thim-widget-list-info {
							.thim-list-info {
								.list-info {
									.info {
										width: 100%;
									}
								}
							}
						}
						.panel-widget-style {
							.thim-list-menu-wrapper {
								.item {
									.inner {
										.desc {
											width: 100%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.site-content {
			.panel-grid {
				.panel-grid-cell {
					.so-panel {
						.panel-widget-style {
							.thim-drinks-section {
								.thim-list-menu-wrapper {
									.item {
										.inner {
											.desc {
												width: 100% !important;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}