@media screen and (min-width: 481px) and (max-width: 768px) {
    .content-pusher {
        .heading__primary {
            font-size: 30px !important;
        }
    }
    #garung-right-sidebar {
        .thim-global-link {
            transform: translate(25px, -50%) rotate(90deg);
            -webkit-transform: translate(25px, -50%) rotate(90deg);
            -moz-transform: translate(25px, -50%) rotate(90deg);
            -ms-transform: translate(25px, -50%) rotate(90deg);
            -o-transform: translate(25px, -50%) rotate(90deg);
        }
    }
}
