@media screen and (min-width: 480px) and (max-width: 1279px) {
    #colophon {
        .footer {
            .two-box-grid {
                margin-bottom: 30px;
                .panel-grid-cell {
                    padding-left: 5px;
                    padding-right: 5px;
                    .so-panel {
                        .panel-widget-style {
                            .wrapper-box-icon {
                                .smicon-box {
                                	padding: 0 !important;
                                    padding-top: 70px !important;
                                    .boxes-icon {
                                        margin: 0 !important;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                    .content-inner {
                                        clear: both !important;
                                        width: 100% !important;
                                        text-align: center;
                                        .sc-heading {
                                            padding: 0 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
