@media screen and (max-width: 768px) {
    @-webkit-keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }
    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .menu-left {
        height: 600px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: hidden;
        background: #e6ae48;
        transform: translate(-100%, 0);
        -webkit-transform: translate(-100%, 0);
        -moz-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -ms-transition: all .5s;
        transition: all .5s;
        display: block;
        position: absolute;
        float: left;
        color: #eee;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 251px;
        .thim-logo {
            min-height: 60px;
            padding: 10px 0;
            text-align: center;
            .thim-animated {
                -webkit-animation-duration: 3s;
                animation-duration: 3s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
            .fadeInDown {
                -webkit-animation-name: fadeInDown;
                animation-name: fadeInDown;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        .inner-navigation {
            background: #e6ae48;
            margin-top: 30px;
            position: relative;
            z-index: 2;
            .navbar-nav {
                text-align: center;
                width: 100%;
                float: none;
                margin: 0;
                li {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    line-height: 26px;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    display: block;
                    float: none;
                    position: relative;
                    &:hover {
                        color: #FFF;
                        background: rgba(255, 255, 255, .2);
                    }
                    a {
                        color: #FFF;
                        font-size: 14px;
                        font-weight: 700;
                        display: inline-block;
                        position: relative;
                        &:visit {
                            background: transparent;
                        }
                        &:hover {
                            background: transparent;
                        }
                        &:active {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
    .menu-left-active {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -ms-transition: all .5s;
        transition: all .5s;
    }
    .wrapper-container {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -ms-transition: all .5s;
        transition: all .5s;
    }
    .wrapper-container-active {
        transform: translate(240px, 0);
        -webkit-transform: translate(240px, 0);
        -moz-transform: translate(240px, 0);
        -ms-transform: translate(240px, 0);
        -o-transform: translate(240px, 0);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -ms-transition: all .5s;
        transition: all .5s;
    }
    .content-pusher {
        #masthead {
            padding: 0px !important;
            .thim-header-wrapper {
                .header-inner {
                    position: relative;
                    height: 90px;
                    .inner-navigation {
                        display: none;
                    }
                    .thim-logo {
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
            }
            #thim_toggle_menu {
                top: 15px;
                width: 30px;
                height: 30px;
                line-height: 5px;
                left: -18px;
                position: fixed;
                z-index: 99999999;
                color: #333;
                transform: translate(100%, 0);
                -webkit-transform: translate(100%, 0);
                -moz-transform: translate(100%, 0);
                -ms-transform: translate(100%, 0);
                -o-transform: translate(100%, 0);
                cursor: pointer;
                .line {
                    width: 100%;
                    height: 2px;
                    background: #333;
                    display: inline-block;
                    position: relative;
                    -webkit-transition: all 1s;
                    -moz-transition: all 1s;
                    -o-transition: all 1s;
                    -ms-transition: all 1s;
                    transition: all 1s;
                }
                .line-rotate-1 {
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    top: 4px;
                }
                .line-rotate-2 {
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    bottom: 6px;
                }
            }
        }
    }
}
