@media screen and (min-width: 480px) and (max-width: 767px) {
	#aboutusPage {
		.site-content {
			.site-main {
				.entry-content {
					.panel-grid {
						.panel-row-style {
							.panel-grid-cell {
								.so-panel {
									.thim-widget-list-html {
										.list-html-content {
											text-align: center !important;
											.line-center {
												display: none;
											}
											.item {
												.item-content {
													.title-list {
														text-align: center !important;
													}
													.desc-list {
														text-align: center !important;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 480px) and (max-width: 768px) {
	#aboutusPage {
		.site-content {
			.site-main {
				.entry-content {
					.meet-team {
						.panel-grid-cell {
							.so-panel {
								.thim-widget-team {
									.thim-our-team {
										.member {
											.avatar-wrapper {
												width: 100% !important;
												height: auto !important;
												img {
													width: 100% !important;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}