@media screen and (max-width: 768px) {
    #contact-page {
        .images_parallax {
            .page-title-wrapper {
                .heading__primary {
                    font-size: 30px;
                }
            }
        }
    }
}
