@media screen and (max-width: 769px) and (min-width: 480px) {
    #homePage {
        section.food-menu {
            display: block;
            .food-menu-item {
                max-width: initial;
                margin-bottom: 20px;
            }
        }
        #sb_instagram {
            #sbi_images {
                .sbi_item {
                    width: 100% !important;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
