@media screen and (max-width: 768px) {
    #menuPage {
        .site-content {
            #main {
                .entry-content {
                    .panel-grid {
                        .panel-grid-cell {
                        	#burger-section {
                                .panel-widget-style {
                                    .thim-list-menu-wrapper {
                                        .item {
                                            height: auto !important;
                                        }
                                    }
                                }
                            }
                            #sides-section {
                                .panel-widget-style {
                                    .thim-list-menu-wrapper {
                                        .item {
                                            height: auto !important;
                                        }
                                    }
                                }
                            }
                            #drink-section {
                                .panel-widget-style {
                                    .thim-list-menu-wrapper {
                                        .item {
                                            .desc {
                                                width: calc(100%) !important;
                                                width: -webkit-calc(100%) !important;
                                                width: -moz-calc(100%) !important;
                                                padding-left: 0px !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
