body {
    height: 100vh;
    font-family: Josefin Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    a {
        text-decoration: none;
        color: #333;
        &:hover {
            text-decoration: none;
            color: #333;
            .fa {
                color: #E6AE48;
            }
        }
    }
    h3 {
        color: #393939;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        text-transform: uppercase;
        line-height: 1.6em;
    }
    .content-pusher {
        padding-left: 85px;
        padding-right: 85px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-top: 100px;
        .images_parallax {
            min-height: 115px;
            .cursor {
                cursor: pointer;
            }
        }   
        .top_site_main {
            .page-title-wrapper {
                .heading__primary {
                    
                }
            }
        }
    }
    .container {
        width: 100% !important;
    }
}

@media screen and (max-width: 1023px) {
    .content-pusher {
        .images_parallax { 
            background-size: auto;
        }
    }
    .after-heading-sidebar {
        .panel-grid {
            .panel-grid-cell {
                .so-panel {
                    .thim-widget-list-info {
                        .thim-list-info {
                            .list-info {
                                .info {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .panel-widget-style {
                        .thim-list-menu-wrapper {
                            .item {
                                .inner {
                                    .desc {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
