//Share css
.light-margin-bottom {
    margin-bottom: 30px;
}

button,
input,
textarea {
    border-radius: 0 !important;
    border: 1px solid #ccc;
    box-shadow: initial !important;
    -webkit-box-shadow: initial !important;
}

#contact-page {
    a {
        color: #333;
    }
    .images_parallax {
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position-x: center!important;
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/images/contact_headers.jpeg');
        background-position: 50% 0%;
    }
    .after-heading-sidebar {
        .thim-widget-list-info {
            .thim-list-info {
                font-size: 14px;
                font-weight: 700;
                font-style: normal;
                text-transform: uppercase;
                line-height: normal;
                width: 100%;
                overflow: hidden;
                text-align: center;
                padding: 27px 0 21px;
                ul {
                    padding: 0;
                    display: inline-block;
                    margin: 0;
                    li {
                        float: left;
                        list-style: none;
                        padding: 15px;
                        li:first-child {
                            margin-left: 0;
                        }
                        li {
                            padding: 0;
                            margin: 0 10px;
                        }
                    }
                    .thim-title-color {
                        color: #333;
                    }
                }
            }
        }
    }
    .top_site_main {
        height: calc(100vh - 200px);
        overflow: hidden;
        .page-title-wrapper {
            position: absolute;
            z-index: 3;
            right: 0;
            left: 0;
            border: 0;
            margin: auto;
            color: #fff;
            text-align: center;
            top: 50%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            .heading__primary {
                font-family: Cardo;
                color: #fff;
                margin: 0;
                font-size: 60px;
                line-height: 72px;
                font-weight: 700;
                position: relative;
                display: inline-block;
                text-transform: uppercase;
            }
            .line {
                width: 80%;
                height: 1px;
                background: #fff;
                display: block;
                margin: 0 auto;
                position: absolute;
                transform: translate(0, 2px);
                -webkit-transform: translate(0, 2px);
                -moz-transform: translate(0, 2px);
                -ms-transform: translate(0, 2px);
                -o-transform: translate(0, 2px);
                left: 0;
                right: 0;
                overflow: hidden;
            }
            .before {
                opacity: 1;
                transform: translate(0px, -9px);
            }
            .after {
                opacity: 1;
                transform: translate(0px, 2px)
            }
        }
        .icon-scroll {
            position: absolute;
            z-index: 3;
            bottom: 33px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 16px;
            line-height: 26px;
            color: #FFF;
            .cursor {
                pointer: cursor;
            }
        }
        .effect-updown {
            -webkit-animation: updown 5s linear infinite;
            -moz-animation: updown 5s linear infinite;
            -o-animation: updown 5s linear infinite;
            animation: updown 5s linear infinite;
            -webkit-animation-direction: alternate;
            -o-animation-direction: alternate;
            animation-direction: alternate;
        }
    }
    #contact-form {
        text-align: center;
        margin-bottom: 113px;
        .contact-form-address-container {
            max-width: 373px;
            margin: 0 auto;
            ul {
                padding-left: 0 !important;
                li {
                    list-style: none;
                    margin-bottom: 20px;
                }
            }
            p.icon {
                font-size: 24px;
                color: #e6ae48;
                padding-bottom: 10px;
            }
            p.social-icon {
                font-size: 18px;
                font-weight: 400;
                i {
                    color: #000;
                    margin: 0 15px;
                    &:hover {
                        transition: color 0.5s;
                        color: #e6ae48;
                    }
                }
            }
        }
        .contact-form-form-container {
            form {
                input {
                    height: 40px;
                }
                button {
                    width: 100%;
                    border-color: #e6ae48;
                    background: #e6ae48;
                    color: #FFF;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    height: 40px;
                    transition: background 0.5s;
                    &:hover {
                        background: #000;
                        border-color: #000;
                    }
                }
                textarea {
                    height: 200px;
                }
                input,
                textarea {
                    border: 1px solid #ccc;
                }
            }
        }
        .heading {
            cursor: pointer;
            h3 {
                font-size: 40px;
                line-height: 42px;
                margin-top: 0;
                margin-bottom: 4px;
                padding-bottom: 20px;
                padding-top: 25px;
                font-family: Cardo;
            }
            .bottom-line {
                height: 2px;
                display: block;
                background: #e6ae48;
                width: 40px;
                margin: 0 auto;
                margin-bottom: 56px;
                transition: all 1s;
            }
            &:hover {
                .bottom-line {
                    transition: all 1s;
                    width: 100%;
                    max-width: 150px;
                }
            }
		}

		p {
			font-size: 18px;
		    line-height: 26px;
		    padding-bottom: 23px;
		    margin: auto;
		}
	}
    .google-map-container {
        position: relative;
        .google-map {
            position: initial;
            height: 400px;
        }
        .overlay {
            width: 100%;
            height: 100%;
            background: #e6ae48;
            opacity: 0.6;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
        }
        .overlayed {
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
        }
    }
}
