@keyframes shake {
    0% {
        left: 0px;
    }
    25% {
        left: 40px;
    }
    50% {
        left: 0px
    }
    75% {
        left: 40px
    }
    100% {
        left: 0px;
    }
}

#colophon {
    .footer {
        .two-box-grid {
            margin-bottom: 30px;
            .panel-grid-cell {
                padding-left: 0px;
                padding-right: 0px;
                .so-panel {
                    zoom: 1;
                    .panel-widget-style {
                        background-color: #212020;
                        .thim-widget-icon-box {
                            overflow: hidden;
                            width: 100%;
                            text-align: center;
                            margin: 0 auto;
                            .wrapper-box-icon {
                                display: inline-block;
                                margin: auto;
                                .smicon-box {
                                    .content-inner {
                                        float: left;
                                        width: calc( 100% - 65px);
                                        .sc-heading {
                                            padding: 10px 30px 0;
                                            .heading__primary {
                                                color: #ffffff;
                                                font-size: 24px;
                                                line-height: normal;
                                                font-weight: 700;
                                                text-transform: capitalize;
                                                margin-top: 8px;
                                                margin-bottom: 0;
                                                a {
                                                    color: #e6ae48;
                                                    white-space: nowrap;
                                                    .fa {
                                                        font-size: 12px;
                                                    }
                                                    &:hover {
                                                        color: #fff;
                                                    }
                                                }
                                            }
                                            .heading__secondary {
                                                color: #ffffff;
                                                margin: 0;
                                                font-size: 12px;
                                                text-transform: uppercase;
                                                font-weight: 700;
                                                line-height: normal;
                                            }
                                            &:hover {
                                                .heading__primary {
                                                    a {
                                                        color: #fff;
                                                    }
                                                    .smicon-box-link {
                                                        .fa {
                                                            display: inline-block;
                                                            left: 5px;
                                                            position: relative;
                                                            -webkit-animation: shake 6s infinite linear;
                                                            -o-animation: shake 6s infinite linear;
                                                            animation: shake 6s infinite linear;
                                                            -webkit-animation: shake 6s infinite linear 300ms 0 ease;
                                                            -moz-animation: shake 6s infinite linear 300ms 0 ease;
                                                            -ms-animation: shake 6s infinite linear 300ms 0 ease;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .boxes-icon {
                                        border-color: #ffffff;
                                        width: 65px;
                                        height: 65px;
                                        line-height: 60px;
                                        float: left;
                                        text-align: center;
                                        margin: auto;
                                        position: relative;
                                        border: 2px solid #FFF;
                                        -webkit-border-radius: 50%;
                                        -moz-border-radius: 50%;
                                        border-radius: 50%;
                                        -webkit-transition: all .3s ease-in-out 0s;
                                        -moz-transition: all .3s ease-in-out 0s;
                                        -o-transition: all .3s ease-in-out 0s;
                                        -ms-transition: all .3s ease-in-out 0s;
                                        transition: all .3s ease-in-out 0s;
                                        .inner-icon {
                                            .icon {
                                                i {
                                                    color: #ffffff;
                                                    font-size: 24px;
                                                    line-height: 24px;
                                                    vertical-align: middle;
                                                }
                                            }
                                        }
                                    }
                                    .circle {}
                                }
                                .icon-left {
                                    padding: 55px 77px 48px;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                    .panel-widget-style-box-2 {
                        background-color: #111;
                    }
                }
            }
        }
        .footer-info {
            .panel-grid-cell {
                .so-panel {
                    margin-bottom: 30px;
                    .panel-widget-style {
                        padding: 10px 10px 13px;
                        .so-widget-sow-editor {
                            .siteorigin-widget-tinymce {
                                h3 {
                                    text-align: center;
                                    font-size: 30px;
                                    line-height: 26px;
                                    font-weight: 700;
                                    margin-bottom: 0;
                                    font-family: Cardo;
                                    img {
                                        width: 50px;
                                        height: 50px;
                                        margin-top: 30px;
                                    }
                                }
                                .h3-title-footer {
                                    text-align: center;
                                    font-size: 30px;
                                    line-height: 26px;
                                    font-weight: 700;
                                    margin-bottom: 0;
                                    font-family: Cardo;
                                }
                                p {
                                    text-align: center;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: normal;
                                    margin-bottom: 20px;
                                    a {
                                        &:hover {
                                            color: #e6ae48;
                                        }
                                        .fa {
                                            text-indent: -9999px;
                                            display: inline-flex;
                                            overflow: hidden;
                                        }
                                    }
                                }
                                .p-address {
                                    text-align: center;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: normal;
                                    margin-bottom: 20px;
                                }
                                .p-phone {}
                            }
                        }
                    }
                }
                .widget_copyright {
                    .thim-widget-copyright {
                        .thim-widget-copyright-text {
                            .text-copyright {
                                font-size: 14px;
                                line-height: normal;
                                margin-top: 56px;
                                margin-bottom: 27px;
                                color: #878b91;
                            }
                        }
                    }
                }
            }
        }
    }
}
