header#masthead {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #ffffff;
    padding-left: 85px;
    padding-right: 85px;
    .container {
        > a {
            width: 100%;
            left: 0;
        }
        .thim-header-wrapper {
            .header-inner {
                float: left;
                text-align: left;
                margin: 0 auto;
                width: 100%;
                .thim-logo {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin: 0 auto;
                    float: left;
                    width: 112px;
                    a {
                        
                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    .thim-animated {
                        
                    }
                }
                .inner-navigation {
                    padding-top: 25px;
                    padding-bottom: 25px;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                    float: left;
                    width: calc(50% - 56px);
                    width: -webkit-calc(50% - 56px);
                    width: -moz-calc(50% - 56px);
                    .menu-item {
                        padding-left: 15px;
                        padding-right: 15px;
                        list-style: none;
                        &:last-child {
                            padding-right: 0;
                        }
                        a {
                            padding-left: 0px !important;
                            padding-right: 0px !important;
                            line-height: 27px !important;
                            &:hover {
                                background: 0 0;
                                color: #e6ae48;
                            }
                            &:focus {
                                background: 0 0;
                                color: #e6ae48;
                            }
                            &:active {
                                color: #e6ae48;
                            }
                        }
                    }
                    .disable_link {
                        display: block;
                        > span:after {
                            font-family: Cardo;
                            padding-left: 10px;
                        }
                    }
                    .nav > .menu-item-has-children {
                        > .sub-menu {
                            position: absolute;
                            margin: 0;
                            padding: 10px 0;
                            z-index: 99;
                            display: inline-block;
                            min-width: 220px;
                            background: #fff;
                            box-shadow: 0 2px 3px #000;
                            transform: translate(0, 60px);
                            opacity: 0;
                            filter: alpha(opacity=0);
                            visibility: hidden;
                            transition: all .3s;
                            text-transform: none;
                            left: 0;
                            .menu-item {
                                padding: 0 30px;
                                position: relative;
                            }
                            .menu-item-has-children {
                                > a {
                                    position: relative;
                                    padding: 0;
                                    display: block;
                                    &:after {
                                        font-family: Cardo;
                                        padding-left: 10px;
                                        position: absolute;
                                        right: 0;
                                        display: block;
                                        top: 50%;
                                        transform: translate(0, -50%);
                                    }
                                }
                                > span {
                                    position: relative;
                                    padding: 0;
                                    display: block;
                                    &:after {
                                        font-family: Cardo;
                                        padding-left: 10px;
                                        position: absolute;
                                        right: 0;
                                        display: block;
                                        top: 50%;
                                        transform: translate(0, -50%);
                                    }
                                }
                                .sub-menu {
                                    position: absolute;
                                    margin: 0;
                                    padding: 10px 0;
                                    z-index: 99;
                                    display: inline-block;
                                    min-width: 220px;
                                    background: #fff;
                                    box-shadow: 0 2px 3px #000;
                                    transform: translate(0, 60px);
                                    opacity: 0;
                                    filter: alpha(opacity=0);
                                    visibility: hidden;
                                    transition: all .3s;
                                    text-transform: none;
                                    left: 100%;
                                }
                                &:hover {
                                    .sub-menu {
                                        transform: translate(0, -30px);
                                        opacity: 1;
                                        filter: alpha(opacity=100);
                                        visibility: visible;
                                    }
                                    > a:after {
                                        content: '\f105';
                                    }
                                    > span:after {
                                        content: '\f105';
                                    }
                                }
                            }
                        }
                        &:hover > .sub-menu {
                            transform: translate(0, 0);
                            opacity: 1;
                            filter: alpha(opacity=100);
                            visibility: visible;
                        }
                        > a > span:after {
                            font-family: Cardo;
                            padding-left: 10px;
                        }
                    }
                }
                .primary-menu {
                    .menu-main-menu {
                        float: right;
                    }
                }
            }
        }
    }
    &.menu-hidden .container {
        transform: translate(0, -100%);
        margin-top: 0!important;
    }
}
