#homePage {
    .tp-banner-container {
        width: 100%;
        position: relative;
        padding: 0;
    }
    .tp-banner {
        width: 100%;
        position: relative;
        .tp-caption {
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
            font-size: 20px !important;
        }
    }
    a {
        color: #333;
    }
    .after-heading-sidebar {
        .thim-widget-list-info {
            .thim-list-info {
                font-size: 14px;
                font-weight: 700;
                font-style: normal;
                text-transform: uppercase;
                line-height: normal;
                width: 100%;
                overflow: hidden;
                text-align: center;
                padding: 32px 0 25px;
                ul {
                    padding: 0;
                    display: inline-block;
                    margin: 0;
                    li {
                        float: left;
                        list-style: none;
                        padding: 15px;
                        li:first-child {
                            margin-left: 0;
                        }
                        li {
                            padding: 0;
                            margin: 0 10px;
                        }
                    }
                    .thim-title-color {
                        color: #333;
                    }
                }
            }
        }
    }
    .top_site_main {
        height: calc(100vh - 200px);
        overflow: hidden;
        .page-title-wrapper {
            position: absolute;
            z-index: 3;
            right: 0;
            left: 0;
            border: 0;
            margin: auto;
            color: #fff;
            text-align: center;
            top: 50%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            .heading__primary {
                font-family: Cardo;
                color: #fff;
                margin: 0;
                font-size: 60px;
                line-height: 72px;
                font-weight: 700;
                position: relative;
                display: inline-block;
                text-transform: uppercase;
            }
            .line {
                width: 80%;
                height: 1px;
                background: #fff;
                display: block;
                margin: 0 auto;
                position: absolute;
                transform: translate(0, 2px);
                -webkit-transform: translate(0, 2px);
                -moz-transform: translate(0, 2px);
                -ms-transform: translate(0, 2px);
                -o-transform: translate(0, 2px);
                left: 0;
                right: 0;
                overflow: hidden;
            }
            .before {
                opacity: 1;
                transform: translate(0px, -9px);
            }
            .after {
                opacity: 1;
                transform: translate(0px, 2px)
            }
        }
        .icon-scroll {
            position: absolute;
            z-index: 3;
            bottom: 33px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 16px;
            line-height: 26px;
            color: #FFF;
            .cursor {
                pointer: cursor;
            }
        }
        .effect-updown {
            -webkit-animation: updown 5s linear infinite;
            -moz-animation: updown 5s linear infinite;
            -o-animation: updown 5s linear infinite;
            animation: updown 5s linear infinite;
            -webkit-animation-direction: alternate;
            -o-animation-direction: alternate;
            animation-direction: alternate;
        }
    }
    section.welcome {
        position: relative;
        display: flex;
        justify-content: space-between;
        .welcome-item {
            height: 520px;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            max-width: 48.7%;
            width: 100%;
        }
        .welcome-pannel {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50%);
            width: 100%;
            max-width: 664px;
            text-align: center;
            background: #fff;
            z-index: 10;
            padding: 24px;
            &:after {
                content: '.';
                position: absolute;
                width: 43px;
                height: 43px;
                background: #FFF;
                color: #ccc;
                font-size: 3px;
                z-index: 2;
                text-align: center;
                line-height: 43px;
                font-size: 20px !important;
                top: 0;
                left: 0;
                color: black;
            }
            &:before {
                content: '.';
                position: absolute;
                width: 43px;
                height: 43px;
                background: #FFF;
                z-index: 2;
                text-align: center;
                line-height: 43px;
                font-size: 20px !important;
                top: 0;
                right: 0;
                color: black;
            }
            .welcome-pannel-container {
                border: 1px solid black;
                padding-top: 30px;
                padding-bottom: 30px;
                border: 1px solid #ccc;
                &:before {
                    content: '.';
                    position: absolute;
                    width: 43px;
                    height: 43px;
                    background: #FFF;
                    z-index: 2;
                    text-align: center;
                    font-size: 20px !important;
                    bottom: 0;
                    right: 0;
                    color: black;
                }
                &:after {
                    content: '.';
                    position: absolute;
                    width: 43px;
                    height: 43px;
                    background: #FFF;
                    z-index: 2;
                    text-align: center;
                    font-size: 20px !important;
                    bottom: 0;
                    left: 0;
                    color: black;
                }
                .heading {
                    cursor: pointer;
                    h1 {
                        font-size: 40px;
                        line-height: 42px;
                        margin-top: 0;
                        margin-bottom: 4px;
                        padding-bottom: 20px;
                        font-family: Cardo;
                        font-weight: 700;
                    }
                    .bottom-line {
                        height: 2px;
                        display: block;
                        background: #e6ae48;
                        width: 40px;
                        margin: 0 auto;
                        margin-bottom: 26px;
                        transition: all 1s;
                        max-width: 150px;
                    }
                    &:hover {
                        .bottom-line {
                            width: 100%;
                            transition: all 1s;
                        }
                    }
                }
                p {
                    /*width: 80%;*/
                    margin-top: 10px;
                    margin-bottom: 36px;
                    margin-left: auto;
                    margin-right: auto;
                }
                .btn-readmore {
                    position: relative;
                    padding: 10px 25px;
                    font-size: 13px;
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 66px;
                    transition: all .3s;
                    color: #e6ae48;
                    text-decoration: none;
                    &:before {
                        left: -4px;
                        right: -4px;
                        top: 0;
                        bottom: 0;
                        content: '';
                        position: absolute;
                        display: block;
                        border: 1px solid #e6ae48;
                        -webkit-transition: all .3s;
                        -moz-transition: all .3s;
                        -o-transition: all .3s;
                        -ms-transition: all .3s;
                        transition: all .3s;
                    }
                    &:after {
                        left: 0;
                        right: 0;
                        top: -4px;
                        bottom: -4px;
                        content: '';
                        position: absolute;
                        display: block;
                        border: 1px solid #e6ae48;
                        -webkit-transition: all .3s;
                        -moz-transition: all .3s;
                        -o-transition: all .3s;
                        -ms-transition: all .3s;
                        transition: all .3s;
                    }
                    &:hover:after {
                        top: 0;
                        bottom: 0;
                    }
                    &:hover:before {
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
        .welcome-pannel-container {
            padding-top: 30px;
            padding-bottom: 30px;
            border: 1px solid #ccc;
        }
    }
    section.open-time {
        padding: 27px 0;
        text-align: center;
        font-size: 14px;
        p {
            font-family: Cardo;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            padding: 14px;
            span {
                color: #e6ae48;
            }
        }
    }
    section.food-menu {
        display: flex;
        justify-content: space-between;
        .food-menu-item {
            transition: background-size 1.5s ease-in;
            -moz-transition: background-size 1.5s ease-in;
            -ms-transition: background-size 1.5s ease-in;
            -o-transition: background-size 1.5s ease-in;
            -webkit-transition: background-size 1.5s ease-in;
            background-position: center !important;
            background-size: (400%, 400%) !important;
            background-repeat: no-repeat !important;
            width: 100%;
            max-width: 31.6%;
            height: 709px;
            overflow: hidden;
            &:hover {
                background-size: (450%, 450%) !important;
                h1:after {
                    opacity: 0
                }
                .food-menu-content:before {
                    height: 100% !important;
                }
                .food-menu-content:after {
                    transition: opacity 0.5s linear 0.5s;
                    opacity: 1 !important;
                }
            }
            .food-menu-container {
                position: relative;
                color: #FFF;
                text-align: center;
                padding: 258px 0 73px;
                width: 240px;
                margin: 0 auto;
                h1 {
                    margin: 0;
                    padding-left: 30px;
                    padding-right: 30px;
                    position: relative;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 88px;
                    text-transform: uppercase;
                    font-family: Cardo;
                    &:after {
                        content: " ";
                        width: 100%;
                        height: 100%;
                        border: 1px solid #fff;
                        border-bottom: 0;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        transition: opacity 0.5s;
                    }
                }
                h3 {
                    margin: 0;
                    padding-top: 5px;
                    position: relative;
                    top: -15px;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 26px;
                    color: #fff;
                    &:after {
                        content: " ";
                        width: 45px;
                        height: 1px;
                        background: #fff;
                        display: block;
                        position: absolute;
                        top: 15px;
                        left: 0;
                    }
                    &:before {
                        content: " ";
                        width: 45px;
                        height: 1px;
                        background: #fff;
                        display: block;
                        position: absolute;
                        top: 15px;
                        right: 0;
                    }
                }
                .food-menu-content {
                    position: relative;
                    padding-bottom: 20px;
                    &:before {
                        content: " ";
                        position: absolute;
                        display: block;
                        border-left: 1px solid #fff;
                        border-right: 1px solid #fff;
                        width: 100%;
                        height: 0;
                        top: 0;
                        left: 0;
                        transition: height 0.5s;
                    }
                    &:after {
                        content: " ";
                        border-bottom: 1px solid #fff;
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        top: 0;
                        left: 0;
                    }
                    ul {
                        padding: 0;
                        li {
                            list-style: none;
                            font-size: 18px;
                            line-height: 32px;
                            font-weight: 400;
                        }
                    }
                    a {
                        color: #e6ae48;
                        transition: color 0.5s;
                        position: relative;
                        z-index: 3;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 14px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    #sb_instagram {
        margin-top: 30px;
        #sbi_images {
            .sbi_item {
                width: 20%;
                display: inline-block;
                vertical-align: top;
                zoom: 1;
                padding: inherit!important;
                margin: 0!important;
                text-decoration: none;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                .sbi_photo_wrap {
                    position: relative;
                    overflow: hidden;
                    .sbi_photo {
                        display: block;
                        text-decoration: none;
                        position: relative;
                        text-align: center;
                        -webkit-transition: all .3s ease-in-out 0s;
                        -moz-transition: all .3s ease-in-out 0s;
                        -o-transition: all .3s ease-in-out 0s;
                        -ms-transition: all .3s ease-in-out 0s;
                        transition: all .3s ease-in-out 0s;
                        &:before {
                            content: '';
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            background: #000;
                            -moz-opacity: 0;
                            -khtml-opacity: 0;
                            -webkit-opacity: 0;
                            opacity: 0;
                            -ms-filter: alpha(opacity=0);
                            filter: alpha(opacity=0);
                            position: absolute;
                            display: inline-block;
                            z-index: 1;
                            -webkit-transition: all .3s ease-in-out 0s;
                            -moz-transition: all .3s ease-in-out 0s;
                            -o-transition: all .3s ease-in-out 0s;
                            -ms-transition: all .3s ease-in-out 0s;
                            transition: all .3s ease-in-out 0s;
                        }
                        &:after {
                            color: #e6ae48;
                            content: '\f16d';
                            left: 0;
                            right: 0;
                            top: 50%;
                            font-size: 2em;
                            transform: translate(0, -50%);
                            -webkit-transform: translate(0, -50%);
                            -moz-transform: translate(0, -50%);
                            -ms-transform: translate(0, -50%);
                            -o-transform: translate(0, -50%);
                            font-family: FontAwesome;
                            position: absolute;
                            display: inline-block;
                            z-index: 2;
                            -moz-opacity: 0;
                            -khtml-opacity: 0;
                            -webkit-opacity: 0;
                            opacity: 0;
                            -ms-filter: alpha(opacity=0);
                            filter: alpha(opacity=0);
                            -webkit-transition: all .3s ease-in-out 0s;
                            -moz-transition: all .3s ease-in-out 0s;
                            -o-transition: all .3s ease-in-out 0s;
                            -ms-transition: all .3s ease-in-out 0s;
                            transition: all .3s ease-in-out 0s;
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                &:hover {
                    .sbi_photo {
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        background-image: url(https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/11373966_1647416478875773_394768102_n.jpg);
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        height: 228px;
                        opacity: 1;
                        &:after {
                            opacity: 1;
                        }
                        &:before {
                            -moz-opacity: .6;
                            -khtml-opacity: .6;
                            -webkit-opacity: .6;
                            opacity: .6;
                            -ms-filter: alpha(opacity=60);
                            filter: alpha(opacity=60);
                        }
                    }
                }
            }
        }
        img {
            padding: 0!important;
            margin: 0!important;
            max-width: 100%!important;
            opacity: 1!important;
        }
        a {
            outline: 0;
            &:hover {
                outline: 0;
            }
            &:active {
                outline: 0;
            }
            &:focus {
                outline: 0;
            }
        }
    }
    // CSS FOR CHANGING REVOLUTION SLIDER BUTTON
    .tp-leftarrow.tparrows.default,
    .tp-rightarrow.tparrows.default {
        border: 1px solid #fff;
        &:hover {
            border: 1px solid #e6ae48;
            &:after {
                color: #e6ae48;
            }
        }
    }
    .tp-leftarrow.tparrows.default:after {
        font-family: "FontAwesome";
        font-size: 14px;
        color: #fff;
        display: block;
        line-height: 40px;
        text-align: center;
        content: "\f104";
    }
    .tp-rightarrow.tparrows.default:after {
        font-family: "FontAwesome";
        font-size: 14px;
        color: #fff;
        display: block;
        line-height: 40px;
        text-align: center;
        content: "\f105";
        background: initial !important;
    }
    .tp-bullets.simplebullets.round .bullet {
        width: 10px;
        height: 10px;
        background: #fff !important;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 50%;
    }
    .tp-bullets.simplebullets.round .bullet.selected {
        background: #e6ae48 !important;
    }
    //END OF CHANGING REVOLUTION SLIDER BUTTON
}
