#garung-left-sidebar {
    .thim-social-fixed {
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        min-width: 100px;
        color: #333333;
        left: 0;
        position: fixed;
        top: 50%;
        text-align: center;
        line-height: 100px;
        min-width: 100px;
        min-height: 100px;
        z-index: 2;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        .thim-animated {
            -webkit-animation-duration: 3s;
            animation-duration: 3s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    height: 40px;
                    line-height: 40px;
                    a {
                        height: 40px;
                        width: 40px;
                        display: inline-block;
                        -webkit-transition: all .3s;
                        -moz-transition: all .3s;
                        -o-transition: all .3s;
                        -ms-transition: all .3s;
                        transition: all .3s;
                        &:hover {
                        	color: #e6ae48;
                        }
                    }
                }
            }
        }
    }
}
