@keyframes shake_popup_in {
    0% {
        transform: perspective( 600px) rotateX( 30deg);
    }
    15% {
        transform: perspective( 600px) rotateX( 20deg);
    }
    20% {
        transform: perspective( 600px) rotateX( 10deg);
    }
    25% {
        transform: perspective( 600px) rotateX( 5deg);
    }
    100% {
        transform: perspective( 600px) rotateX( 0deg);
    }
}

@keyframes shake_popup_out {
    0% {
        transform: perspective( 600px) rotateX( -30deg);
    }
    15% {
        transform: perspective( 600px) rotateX( -20deg);
    }
    20% {
        transform: perspective( 600px) rotateX( -10deg);
    }
    25% {
        transform: perspective( 600px) rotateX( -5deg);
    }
    100% {
        transform: perspective( 600px) rotateX( 0deg);
    }
}

#popup-section {
    .mfp-bg {
        -moz-opacity: .8;
        -khtml-opacity: .8;
        -webkit-opacity: .8;
        opacity: .8;
        -ms-filter: alpha(opacity=80);
        filter: alpha(opacity=80);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1042;
        overflow: hidden;
        position: fixed;
        background: #0b0b0b;
    }
    #garung-popup {
        top: 0px;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1043;
        position: fixed;
        outline: 0!important;
        -webkit-backface-visibility: hidden;
        .mfp-container {
            padding: 0 8px;
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            &:before {
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            .mfp-content {
                width: 100%;
                max-width: 535px;
                max-height: 90vh;
                cursor: auto;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin: 0 auto;
                text-align: left;
                z-index: 1045;
                #thim-popup-sidebar {
                    position: relative;
                    background: #FFF;
                    padding: 30px 60px;
                    width: auto;
                    max-width: 535px;
                    max-height: 90vh;
                    margin: 0 auto;
                    overflow: hidden;
                    overflow-y: auto;
                    -moz-opacity: 1;
                    -khtml-opacity: 1;
                    -webkit-opacity: 1;
                    opacity: 1;
                    -ms-filter: alpha(opacity=100);
                    filter: alpha(opacity=100);
                    transform: translateY(0) perspective(600px) rotateX(0);
                    -webkit-transform: translateY(0) perspective(600px) rotateX(0);
                    -moz-transform: translateY(0) perspective(600px) rotateX(0);
                    -ms-transform: translateY(0) perspective(600px) rotateX(0);
                    -o-transform: translateY(0) perspective(600px) rotateX(0);
                    transition: all .3s ease-in-out;
                    .panel-grid {
                        .panel-grid-cell {
                            float: none;
                            -ms-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            min-height: 1em;
                            .so-panel {
                                zoom: 1;
                                margin-bottom: 30px;
                                .thim-heading {
                                    .sc-heading {
                                        padding-top: 25px;
                                        padding-bottom: 20px;
                                        display: inline-block;
                                        .heading__primary {
                                            font-family: Cardo;
                                            font-size: 40px;
                                            line-height: 42px;
                                            margin-top: 0;
                                            margin-bottom: 4px;
                                            color: #393939;
                                            font-weight: bold;
                                            font-style: normal;
                                            text-transform: uppercase;
                                        }
                                        .line-heading {
                                            border-top: 2px solid #e6ae48;
                                            width: 40px;
                                            display: inline-block;
                                            -webkit-transition: all .6s;
                                            -moz-transition: all .6s;
                                            -o-transition: all .6s;
                                            -ms-transition: all .6s;
                                            transition: all .6s;
                                        }
                                        .ng-line-heading {
                                            border-top: 2px solid #e6ae48;
                                            display: inline-block;
                                            width: 150px !important;
                                            transition: all .6s;
                                        }
                                    }
                                    .heading__secondary {
                                        font-size: 18px;
                                        line-height: 26px;
                                        padding-bottom: 23px;
                                        max-width: 555px;
                                        margin: auto;
                                    }
                                }
                            }
                        }
                    }
                    .mfp-close {
                        right: 0;
                        top: 0!important;
                        color: #333333;
                        text-align: center;
                        padding-right: 0;
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                        overflow: visible;
                        cursor: pointer;
                        background: 0 0;
                        border: 0;
                        -webkit-appearance: none;
                        display: block;
                        outline: 0;
                        padding: 0;
                        z-index: 1046;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        position: absolute;
                        text-decoration: none;
                        opacity: .65;
                        font-style: normal;
                        font-size: 28px;
                        font-family: Arial, Baskerville, monospace;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                    }
                }
            }
            .shake-content-popup-in {
                -webkit-animation: shake_popup_in 1s;
                animation: shake_popup_in 1s;
                transition: all 1s;
            }
        }
    }
}

.ng-hide {
    -webkit-animation: shake_popup_out 1s;
    animation: shake_popup_out 1s;
    transition: all 1s;
}
