#garung-right-sidebar {
    .thim-global-link {
        right: 0;
        left: auto;
        position: fixed;
        top: 50%;
        text-align: center;
        line-height: 100px;
        min-width: 85px;
        min-height: 100px;
        z-index: 2;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        color: #333333;
        a {
            white-space: nowrap;
        }
    }
}

@media (min-width: 1025px) {
    .fixed-right {
        transform: translate(8px, -50%) rotate(90deg);
        -webkit-transform: translate(8px, -50%) rotate(90deg);
        -moz-transform: translate(8px, -50%) rotate(90deg);
        -ms-transform: translate(8px, -50%) rotate(90deg);
        -o-transform: translate(8px, -50%) rotate(90deg);
    }
}
