    @keyframes updown {
        0% {
            bottom: 0px;
        }
        25% {
            bottom: 50px;
        }
        50% {
            bottom: 0;
        }
        75% {
            bottom: 50px;
        }
        100% {
            bottom: 0px;
        }
    }
    #aboutusPage {
        a {
            color: #333;
        }
        .container {
            width: 100% !important;
        }
        .images_parallax {
            position: relative;
            margin-left: 15px;
            margin-right: 15px;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position-x: center!important;
            background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/public/assets/images/aboutus_headers.jpg');
            background-position: 67.5px -25px;
        }
        .after-heading-sidebar {
            .thim-widget-list-info {
                .thim-list-info {
                    font-size: 14px;
                    font-weight: 700;
                    font-style: normal;
                    text-transform: uppercase;
                    line-height: normal;
                    width: 100%;
                    overflow: hidden;
                    text-align: center;
                    padding: 27px 0 21px;
                    ul {
                        padding: 0;
                        display: inline-block;
                        margin: 0;
                        li {
                            float: left;
                            list-style: none;
                            padding: 15px;
                            li:first-child {
                                margin-left: 0;
                            }
                            li {
                                padding: 0;
                                margin: 0 10px;
                            }
                        }
                        .thim-title-color {
                            color: #333;
                        }
                    }
                }
            }
        }
        .top_site_main {
            height: calc(100vh - 200px);
            overflow: hidden;
            .page-title-wrapper {
                position: absolute;
                z-index: 3;
                right: 0;
                left: 0;
                border: 0;
                margin: auto;
                color: #fff;
                text-align: center;
                top: 50%;
                transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
                .heading__primary {
                    font-family: Cardo;
                    color: #fff;
                    margin: 0;
                    font-size: 60px;
                    line-height: 72px;
                    font-weight: 700;
                    position: relative;
                    display: inline-block;
                    text-transform: uppercase;
                }
                .line {
                    width: 80%;
                    height: 1px;
                    background: #fff;
                    display: block;
                    margin: 0 auto;
                    position: absolute;
                    transform: translate(0, 2px);
                    -webkit-transform: translate(0, 2px);
                    -moz-transform: translate(0, 2px);
                    -ms-transform: translate(0, 2px);
                    -o-transform: translate(0, 2px);
                    left: 0;
                    right: 0;
                    overflow: hidden;
                }
                .before {
                    opacity: 1;
                    transform: translate(0px, -9px);
                }
                .after {
                    opacity: 1;
                    transform: translate(0px, 2px)
                }
            }
            .icon-scroll {
                position: absolute;
                z-index: 3;
                bottom: 33px;
                left: 0;
                right: 0;
                text-align: center;
                font-size: 16px;
                line-height: 26px;
                color: #FFF;
                .cursor {
                    pointer: cursor;
                }
            }
            .effect-updown {
                -webkit-animation: updown 5s linear infinite;
                -moz-animation: updown 5s linear infinite;
                -o-animation: updown 5s linear infinite;
                animation: updown 5s linear infinite;
                -webkit-animation-direction: alternate;
                -o-animation-direction: alternate;
                animation-direction: alternate;
            }
        }
        .site-content {
            .entry-content {
                .thim-widget-heading {
                    .thim-heading {
                        .sc-heading {
                            padding-top: 25px;
                            padding-bottom: 20px;
                            display: inline-block;
                            .heading__primary {
                                font-size: 40px;
                                line-height: 42px;
                                margin-top: 0;
                                margin-bottom: 4px;
                                font-family: cardo;
                                text-transform: uppercase;
                            }
                            .line-heading {
                                border-top: 2px solid #e6ae48;
                                display: inline-block;
                                width: 40px;
                                transition: all .6s;
                            }
                            .ng-line-heading {
                                border-top: 2px solid #e6ae48;
                                display: inline-block;
                                width: 150px !important;
                                transition: all .6s;
                            }
                        }
                        .heading__secondary {
                            font-size: 18px;
                            line-height: 26px;
                            padding-bottom: 23px;
                            max-width: 555px;
                            margin: auto;
                            font-family: Josefin Sans;
                            color: #646464;
                        }
                    }
                }
                .short-description {
                    .panel-grid-cell {
                        padding-left: 15px;
                        padding-right: 15px;
                        float: left;
                        h3 {
                            color: #393939;
                            font-weight: bold;
                            font-size: 20px;
                            font-style: normal;
                            text-transform: uppercase;
                            line-height: 1.6em;
                            font-family: Cardo;
                        }
                        .so-panel {
                            .thim-widget-single-images {
                                .single-image {
                                    overflow: hidden;
                                    p {
                                        font-family: Cardo;
                                    }
                                    img {
                                        width: 100%;
                                        transition: all 1s;
                                    }
                                    .img-scale {
                                        transform: scale(1.1);
                                        -webkit-transform: scale(1.1);
                                        transition: all 1s;
                                    }
                                }
                            }
                        }
                        .widget_single-images {
                            margin-bottom: 30px;
                        }
                    }
                }
                .list-feature {
                    .panel-row-style {
                        padding: 30px 0px 60px;
                        background-color: #e6ae48;
                        color: #fff;
                        .panel-grid-cell {
                            .so-panel {
                                p {
                                    color: #fff;
                                }
                                .thim-heading {
                                    .sc-heading {
                                        h3 {
                                            color: #fff;
                                        }
                                        .heading__primary {
                                            font-size: 40px;
                                            line-height: 42px;
                                            margin-top: 0;
                                            margin-bottom: 4px;
                                            font-family: cardo;
                                            text-transform: uppercase;
                                            border-color: #ffffff;
                                        }
                                        .line-heading {
                                            border-top: 2px solid #e6ae48;
                                            display: inline-block;
                                            width: 40px;
                                            transition: all .6s;
                                            border-color: #ffffff;
                                        }
                                        .ng-line-heading {
                                            border-top: 2px solid #e6ae48;
                                            display: inline-block;
                                            width: 150px !important;
                                            transition: all .6s;
                                            border-color: #ffffff;
                                        }
                                    }
                                }
                                .list-html-content {
                                    text-align: right;
                                    position: relative;
                                    padding: 5px 0 62px;
                                    .col-sm-6 {
                                        .item-content {
                                            float: right;
                                            text-align: right;
                                            padding: 20px 40px 0;
                                            .title-list {
                                                h5 {
                                                    font-size: 24px;
                                                    line-height: 48px;
                                                    font-weight: 400;
                                                    text-transform: none;
                                                    margin-top: 20px;
                                                }
                                            }
                                            .desc-list {
                                                max-width: 325px;
                                                -moz-opacity: .8;
                                                -khtml-opacity: .8;
                                                -webkit-opacity: .8;
                                                opacity: .8;
                                            }
                                        }
                                    }
                                    .col-sm-6:nth-child(2n) {
                                        .item-content {
                                            float: left;
                                            text-align: left;
                                            padding: 20px 40px 0;
                                            .title-list {
                                                h5 {
                                                    font-size: 24px;
                                                    line-height: 48px;
                                                    font-weight: 400;
                                                    text-transform: none;
                                                    margin-top: 20px;
                                                }
                                            }
                                            .desc-list {
                                                max-width: 325px;
                                                -moz-opacity: .8;
                                                -khtml-opacity: .8;
                                                -webkit-opacity: .8;
                                                opacity: .8;
                                            }
                                        }
                                    }
                                    .line-center {
                                        width: 2px;
                                        position: absolute;
                                        left: 50%;
                                        margin-left: -1px;
                                        top: 0;
                                        bottom: 0;
                                        background: #fff;
                                    }
                                    .line-center:before {
                                        width: 12px;
                                        height: 12px;
                                        -webkit-border-radius: 50%;
                                        -moz-border-radius: 50%;
                                        border-radius: 50%;
                                        content: "";
                                        background: inherit;
                                        position: absolute;
                                        left: 50%;
                                        margin-left: -6px;
                                    }
                                    .line-center:after {
                                        width: 12px;
                                        height: 12px;
                                        -webkit-border-radius: 50%;
                                        -moz-border-radius: 50%;
                                        border-radius: 50%;
                                        content: "";
                                        background: inherit;
                                        position: absolute;
                                        left: 50%;
                                        margin-left: -6px;
                                        bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .meet-team {
                    .panel-grid-cell {
                        .so-panel {
                            margin-bottom: 30px;
                            .thim-heading {
                                .heading__secondary {
                                    font-size: 18px;
                                    line-height: 26px;
                                    padding-bottom: 23px;
                                    max-width: 555px;
                                    margin: auto;
                                }
                            }
                            .thim-our-team {
                                .members {
                                    position: relative;
                                    .member {
                                        border-right: 1px solid #eee;
                                        margin-bottom: 70px;
                                        .inner {
                                            padding-bottom: 18px;
                                            text-align: center;
                                            max-width: 450px;
                                            margin: auto;
                                            .avatar-wrapper {
                                                width: 300px;
                                                height: 300px;
                                                display: inline-block;
                                                position: relative;
                                                -webkit-border-radius: 50%;
                                                -moz-border-radius: 50%;
                                                border-radius: 50%;
                                                overflow: hidden;
                                                .avatar-inner {
                                                    position: relative;
                                                    overflow: hidden;
                                                    border-radius: 50%
                                                }
                                                .avatar-inner:after {
                                                    content: '';
                                                    position: absolute;
                                                    left: 0;
                                                    right: 0;
                                                    top: 0;
                                                    bottom: 0;
                                                    display: block;
                                                    transform: scale(0);
                                                    transition: all .5s;
                                                    border-radius: 50%;
                                                }
                                                /*.avatar-inner-after {
                                                    content: '';
                                                    position: absolute;
                                                    left: 0;
                                                    right: 0;
                                                    top: 0;
                                                    bottom: 0;
                                                    display: block;
                                                    transform: scale(1);
                                                    transition: all .5s;
                                                    background-color: #e6ae48;
                                                    opacity: 0.8;
                                                }*/
                                            }
                                            .info {
                                                margin-top: 28px;
                                                font-size: 14px;
                                                line-height: 22px;
                                                font-weight: 700;
                                                margin-bottom: 21px;
                                                .name {
                                                    color: #333333;
                                                    text-transform: uppercase;
                                                    margin-bottom: 5px;
                                                }
                                                .regency {
                                                    color: #999;
                                                    font-size: 16px;
                                                    font-weight: 600;
                                                }
                                            }
                                            .description {
                                                color: #999;
                                            }
                                        }
                                        .inner:hover {
                                            .avatar-inner:after {
                                                transform: scale(1);
                                                background-color: #e6ae48;
                                                opacity: 0.8;
                                                overflow: hidden;
                                                border-radius: 50%;
                                                transition: all .5s;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
