#menuPage {
    a {
        color: #333;
    }
    .images_parallax {
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position-x: center!important;
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/public/assets/images/menu_headers.jpg');
        background-position: 50% 0%;
    }
    .after-heading-sidebar {
        .thim-widget-list-info {
            .thim-list-info {
                font-size: 14px;
                font-weight: 700;
                font-style: normal;
                text-transform: uppercase;
                line-height: normal;
                width: 100%;
                overflow: hidden;
                text-align: center;
                padding: 27px 0 21px;
                ul {
                    padding: 0;
                    display: inline-block;
                    margin: 0;
                    li {
                        float: left;
                        list-style: none;
                        padding: 15px;
                        li:first-child {
                            margin-left: 0;
                        }
                        li {
                            padding: 0;
                            margin: 0 10px;
                        }
                    }
                    .thim-title-color {
                        color: #333;
                    }
                }
            }
        }
    }
    .top_site_main {
        height: calc(100vh - 200px);
        overflow: hidden;
        .page-title-wrapper {
            position: absolute;
            z-index: 3;
            right: 0;
            left: 0;
            border: 0;
            margin: auto;
            color: #fff;
            text-align: center;
            top: 50%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            .heading__primary {
                font-family: Cardo;
                color: #fff;
                margin: 0;
                font-size: 60px;
                line-height: 72px;
                font-weight: 700;
                position: relative;
                display: inline-block;
                text-transform: uppercase;
            }
            .line {
                width: 80%;
                height: 1px;
                background: #fff;
                display: block;
                margin: 0 auto;
                position: absolute;
                transform: translate(0, 2px);
                -webkit-transform: translate(0, 2px);
                -moz-transform: translate(0, 2px);
                -ms-transform: translate(0, 2px);
                -o-transform: translate(0, 2px);
                left: 0;
                right: 0;
                overflow: hidden;
            }
            .before {
                opacity: 1;
                transform: translate(0px, -9px);
            }
            .after {
                opacity: 1;
                transform: translate(0px, 2px)
            }
        }
        .icon-scroll {
            position: absolute;
            z-index: 3;
            bottom: 33px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 16px;
            line-height: 26px;
            color: #FFF;
            .cursor {
                pointer: cursor;
            }
        }
        .effect-updown {
            -webkit-animation: updown 5s linear infinite;
            -moz-animation: updown 5s linear infinite;
            -o-animation: updown 5s linear infinite;
            animation: updown 5s linear infinite;
            -webkit-animation-direction: alternate;
            -o-animation-direction: alternate;
            animation-direction: alternate;
        }
    }
    .site-content {
        #main {
            .entry-content {
                .panel-grid {
                    .panel-grid-cell {
                        .so-panel {
                            .panel-widget-style {
                                padding: 0px 0px 15px;
                                .thim-widget-menu-restaurant {
                                    overflow: hidden;
                                    .thim-title-box {
                                        background-image: url('/public/assets/images/menu_burgers.jpg');
                                        height: 384px;
                                        line-height: 384px;
                                        position: relative;
                                        margin-bottom: 45px;
                                        min-height: 115px;
                                        z-index: 1;
                                        background-repeat: no-repeat;
                                        background-position: center center;
                                        background-size: cover;
                                        &:before {
                                            position: absolute;
                                            content: '';
                                            display: block;
                                            background: #000;
                                            left: 0;
                                            top: 0;
                                            right: 0;
                                            bottom: 0;
                                            opacity: .5;
                                            z-index: -1;
                                        }
                                        .menu-title {
                                            font-family: Cardo;
                                            color: #fff;
                                            text-align: center;
                                            font-size: 34px;
                                            text-transform: uppercase;
                                            font-weight: 700;
                                        }
                                    }
                                    .thim-list-menu-wrapper {
                                        .item {
                                            padding-left: 0px;
                                            padding-right: 15px;
                                            margin-bottom: 30px;
                                            overflow: hidden;
                                            max-height: 150px;
                                            height: 113px;
                                            .image {
                                                float: left;
                                            }
                                            .desc {
                                                padding-left: 20px;
                                                float: left;
                                                width: calc(100% - 70px);
                                                width: -webkit-calc(100% - 70px);
                                                width: -moz-calc(100% - 70px);
                                                .name {
                                                    white-space: nowrap;
                                                    margin-top: -5px;
                                                    color: #646464;
                                                    .dotted-line {
                                                        display: table-cell;
                                                        width: 100%;
                                                        padding-right: 5px;
                                                        &:after {
                                                            content: '';
                                                            position: relative;
                                                            border-bottom: 1px dotted;
                                                            left: 0;
                                                            right: 0;
                                                            display: block;
                                                        }
                                                    }
                                                    .price {
                                                        display: table-cell;
                                                        font-size: 16px;
                                                        line-height: 13px;
                                                        padding-left: 10px;
                                                        font-weight: 700;
                                                        font-family: Cardo;
                                                    }
                                                }
                                                .info {
                                                    margin-top: 6px;
                                                    position: relative;
                                                    color: #646464;
                                                    .short-info {
                                                        font-size: 16px;
                                                        line-height: 24px;
                                                        font-style: italic;
                                                        padding-right: 111px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .thim-sides-section {
                                	.thim-title-box {
                                    	background-image: url('/public/assets/images/menu_sides.jpg'); 
                                    	height: 384px; 
                                    	line-height: 384px; 
                                	}
                                	.thim-list-menu-wrapper{
                                    	.item {
                                    		height: 95px;
                                    		&:last-of-type {
                                    			max-height: 160px;
                                    			height: 160px;
                                    		}
                                    	}
                                    }
                                }
                                .thim-drinks-section {
                                	.thim-title-box {
                                    	background-image: url('/public/assets/images/menu_drinks.jpg'); 
                                    	height: 384px; 
                                    	line-height: 384px;
                                    }
                                    .thim-list-menu-wrapper {
                                    	.item {
                                    		height: auto;
                                    	} 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
