#reservationPage {
    a {
        color: #333;
    }
    .images_parallax {
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position-x: center!important;
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/images/reservation_headers.jpg');
        background-position: 50% 0%;
    }
    .after-heading-sidebar {
        .thim-widget-list-info {
            .thim-list-info {
                font-size: 14px;
                font-weight: 700;
                font-style: normal;
                text-transform: uppercase;
                line-height: normal;
                width: 100%;
                overflow: hidden;
                text-align: center;
                padding: 27px 0 21px;
                ul {
                    padding: 0;
                    display: inline-block;
                    margin: 0;
                    li {
                        float: left;
                        list-style: none;
                        padding: 15px;
                        li:first-child {
                            margin-left: 0;
                        }
                        li {
                            padding: 0;
                            margin: 0 10px;
                        }
                    }
                    .thim-title-color {
                        color: #333;
                    }
                }
            }
        }
    }
    .top_site_main {
        height: calc(100vh - 200px);
        overflow: hidden;
        .page-title-wrapper {
            position: absolute;
            z-index: 3;
            right: 0;
            left: 0;
            border: 0;
            margin: auto;
            color: #fff;
            text-align: center;
            top: 50%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            .heading__primary {
                font-family: Cardo;
                color: #fff;
                margin: 0;
                font-size: 60px;
                line-height: 72px;
                font-weight: 700;
                position: relative;
                display: inline-block;
                text-transform: uppercase;
            }
            .line {
                width: 80%;
                height: 1px;
                background: #fff;
                display: block;
                margin: 0 auto;
                position: absolute;
                transform: translate(0, 2px);
                -webkit-transform: translate(0, 2px);
                -moz-transform: translate(0, 2px);
                -ms-transform: translate(0, 2px);
                -o-transform: translate(0, 2px);
                left: 0;
                right: 0;
                overflow: hidden;
            }
            .before {
                opacity: 1;
                transform: translate(0px, -9px);
            }
            .after {
                opacity: 1;
                transform: translate(0px, 2px)
            }
        }
        .icon-scroll {
            position: absolute;
            z-index: 3;
            bottom: 33px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 16px;
            line-height: 26px;
            color: #FFF;
            .cursor {
                pointer: cursor;
            }
        }
        .effect-updown {
            -webkit-animation: updown 5s linear infinite;
            -moz-animation: updown 5s linear infinite;
            -o-animation: updown 5s linear infinite;
            animation: updown 5s linear infinite;
            -webkit-animation-direction: alternate;
            -o-animation-direction: alternate;
            animation-direction: alternate;
        }
    }
    .site-content {
        #main {
            .entry-content {
                .panel-grid {
                    .panel-grid-cell {
                        .so-panel {
                            margin-bottom: 30px;
                            .thim-widget-heading {
                                .thim-heading {
                                    .sc-heading {
                                        padding-top: 25px;
                                        padding-bottom: 20px;
                                        display: inline-block;
                                        .heading__primary {
                                            font-family: Cardo;
                                            font-size: 40px !important;
                                            line-height: 42px;
                                        }
                                        .line-heading {
                                            border-top: 2px solid #e6ae48;
                                            display: inline-block;
                                            width: 40px;
                                            transition: all .6s;
                                        }
                                        .ng-line-heading {
                                            border-top: 2px solid #e6ae48;
                                            display: inline-block;
                                            width: 150px !important;
                                            transition: all .6s;
                                        }
                                    }
                                    .heading__secondary {
                                        font-size: 18px;
                                        line-height: 26px;
                                        padding-bottom: 23px;
                                        max-width: 555px;
                                        margin: auto;
                                    }
                                }
                            }
                            form {
                                margin: 55px 0;
                                text-align: center;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }
}